.gallery-info-inner  												{background: rgb(42, 188, 189);}
.post-title p 														{font-size: 15px;}
.post-title a 														{font-size: 15px;}
.feedback-info 	p 													{font-size: 15px;}

.feedback-form button 												{height: 40px;}
.feedback-form input  												{height: 40px;width: 167px;}